<template>
  <footer class="footer">
    <b-container>
      <b-row align-v="end" align-h="between">
        <b-col sm="12" md="6">
          <div class="footer__city">Екатеринбург</div>
          <div class="footer__text">Малышева, 51 (Высоцкий, 29-й этаж),</div>
          <div class="footer__text">
            <a href="tel:+7 (343) 384-84-81" class="footer__link"
              >+7 (343) 384-84-81</a
            >,
            <a href="mailto:info@jetstyle.ru" class="footer__link"
              >info@jetstyle.ru</a
            >
          </div>
        </b-col>
        <b-col cols="auto">
          <div class="footer__text">
            &copy;&nbsp;JetStyle (ООО &laquo;БИП&raquo;), 2004&shy;&mdash;2021
          </div>
        </b-col>
      </b-row>
    </b-container>
  </footer>
</template>

<script>
export default {
  name: "AppFooter",
};
</script>

<style lang="less" scoped>
.footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;

  &__city {
    color: red;
    font-size: 1.3rem;
    margin-bottom: 5px;
  }

  &__text {
    font-size: 0.9rem;
  }

  &__link {
    color: #fff;
    text-decoration: none;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 20px 0;
  }
}
</style>
