.btn {
  &-danger {
    background-color: #bd0d17 !important;
    border-color: #bd0d17 !important;
  }

  &-success {
    background-color: #59db77 !important;
    border-color: #59db77 !important;
  }

  &-info {
    background-color: #66ccde !important;
    border-color: #66ccde !important;
  }

  &-warning {
    background-color: #ff940b !important;
    border-color: #ff940b !important;
    color: #fff !important;
  }
}

.form-control {
  margin-bottom: 20px;
}
