<template>
  <div class="page">
    <AdminAppHeader />

    <div class="page__inner">
      <b-container>
        <h1 class="mb-4">Вакансии</h1>

        <b-table :items="list" :fields="fields" stacked="lg">
          <template #cell(name)="data">
            <a href="#" @click="showModal(data.item.id)">{{ data.value }}</a>
          </template>
          <template #cell(status)="data">
            {{ data.value ? "Открыта" : "Закрыта" }}
          </template>
        </b-table>
      </b-container>
    </div>

    <!-- Модалка -->
    <b-modal ref="modal" size="lg" hide-footer hide-header>
      <div class="modal__title">Редактирование</div>
      <b-form @submit="onSubmitVacancy" v-if="currentItem">
        <b-form-group label="Название вакансии:" label-for="name">
          <b-form-input
            id="name"
            v-model="currentItem.name"
            type="text"
            placeholder="Название вакансии"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Описание:">
          <wysiwyg v-model="currentItem.descriptions" />
        </b-form-group>

        <b-form-group label="Изображение:" label-for="file">
          <b-form-file
            id="file"
            v-model="currentItem.file"
            placeholder="Файл"
            browse-text="Загрузить"
          ></b-form-file>
          <div v-if="currentItem.photo">
            <a :href="currentItem.photo" target="_blank">Текущее изображение</a>
          </div>
        </b-form-group>

        <b-form-checkbox id="status" v-model="currentItem.status" class="mb-4">
          Вакансия открыта
        </b-form-checkbox>

        <b-button type="submit" variant="danger">Сохранить</b-button>
      </b-form>
    </b-modal>
  </div>
</template>

<script>
import AdminAppHeader from "@/components/layout/AdminAppHeader";
import axios from 'axios';

export default {
  name: "VacanciesPage",
  components: {
    AdminAppHeader,
  },
  data() {
    return {
      list: null,
      fields: [
        {
          key: "name",
          label: "Название",
          sortable: true,
        },
        {
          key: "status",
          label: "Статус",
          sortable: true,
        },
      ],
      currentItem: null,
    };
  },
  methods: {
    showModal(id) {
      const vacancy = this.list.find((item) => item.id === id);
      this.currentItem = { ...vacancy, file: null };
      this.$refs["modal"].show();
      this.currentId = id;
    },
    onSubmitVacancy() {
      const form = new FormData();
      console.log(this.currentItem);

      for (const [key, value] of Object.entries(this.currentItem)) {
        if (!['file', 'photo'].includes(key)) {
          form.append(key, value);
        }

        if (key === 'file' && value) {
          form.append('photo', value);
        }
      }

      console.log(form);
      axios
        .patch(`https://whispering-inlet-21436.herokuapp.com/vacancy/${this.currentId}/?format=json`, form);
    },
  },
  mounted() {
    axios
      .get('https://whispering-inlet-21436.herokuapp.com/admin-vacancies?format=json')
      .then(response => this.list = response.data);
  },
};
</script>

<style lang="less" scoped>
.page {
  &__inner {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.modal {
  &__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
</style>
