<template>
  <b-container>
    <b-row class="cards-list" align-v="stretch">
      <b-col sm="12" md="6" lg="4" v-for="card in list" :key="card.id">
        <b-card class="v-card">
          <div class="v-card__image"><img :src="card.photo" /></div>

          <b-card-title>{{ card.name }}</b-card-title>
          <a href="#" class="v-card__link" @click.prevent="showModal(card.id)"
            >Подробнее</a
          >
        </b-card>
      </b-col>
    </b-row>

    <!-- Модалка с вакансией -->
    <b-modal
      ref="v-modal"
      @hidden="hideModal"
      hide-footer
      hide-header
      size="lg"
    >
      <div v-if="activeVacancyId" class="v-modal">
        <div class="v-modal__title">{{ activeVacancy.name }}</div>
        <img :src="activeVacancy.photo" class="v-modal__image" />
        <div
          class="v-modal__description"
          v-html="activeVacancy.descriptions"
        ></div>
        <b-button
          variant="danger"
          size="lg"
          class="v-modal__btn"
          v-b-modal.response-modal
          >Отправить резюме</b-button
        >
      </div>
    </b-modal>

    <!-- Модалка для отправки резюме -->
    <b-modal id="response-modal" hide-footer hide-header>
      <div class="r-modal">
        <div class="r-modal__title">Резюме</div>
        <div class="r-modal__text">
          Оставьте телефон или почту,<br />
          и&nbsp;мы&nbsp;свяжемся с&nbsp;вами!
        </div>
        <b-form @submit="onSubmitForm">
          <b-form-input
            v-model="form.position"
            type="text"
            placeholder="Желаемая должность"
            required
          ></b-form-input>
          <b-form-input
            v-model="form.name"
            type="text"
            placeholder="Имя"
            required
          ></b-form-input>
          <b-form-input
            v-model="form.email"
            type="email"
            placeholder="Email"
            required
          ></b-form-input>
          <b-form-input
            v-model="form.tel"
            type="tel"
            placeholder="Телефон"
            required
          ></b-form-input>
          <b-form-input
            v-model="form.url"
            type="url"
            placeholder="Ссылка на портфолио"
          ></b-form-input>
          <b-form-file
            v-model="form.file"
            placeholder="Резюме или портфолио"
            browse-text="Загрузить"
          ></b-form-file>

          <b-button
            type="submit"
            variant="danger"
            size="lg"
            class="r-modal__btn"
            >Отправить</b-button
          >
        </b-form>
      </div>
    </b-modal>
  </b-container>
</template>

<script>
import axios from 'axios';

const initialForm = () => {
  return {
    position: "",
    name: "",
    email: "",
    tel: "",
    url: "",
    file: null,
  };
};
export default {
  name: "CardsList",
  props: {
    list: Array,
  },
  data() {
    return {
      activeVacancyId: null,
      form: initialForm(),
    };
  },
  computed: {
    activeVacancy() {
      const { activeVacancyId } = this;
      if (!activeVacancyId) return;
      const res = this.list.find((item) => item.id === activeVacancyId);
      if (!res) return;
      return res;
    },
  },
  methods: {
    showModal(id) {
      this.activeVacancyId = id;
      this.$refs["v-modal"].show();
      this.form.position = this.activeVacancy.name;
    },
    hideModal() {
      this.activeVacancyId = null;
    },
    onSubmitForm(e) {
      e.preventDefault();
      const form = new FormData();

      for (const [key, value] of Object.entries(this.form)) {
          form.append(key, value);
      }
      // тут будет POST запрос отправки формы
      axios.post('https://whispering-inlet-21436.herokuapp.com/resume/', form);
    },
  },
};
</script>

<style lang="less" scoped>
.cards-list {
  margin-bottom: 50px;

  @media screen and (max-width: 576px) {
    margin-bottom: 0;
  }
}

.v-card {
  height: calc(100% - 20px);
  margin-bottom: 20px;
  text-align: center;
  position: relative;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0px 0px 10px #d2dfed;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }

  .card-title {
    margin-bottom: 20px;
  }

  &__image {
    height: 120px;
    margin-bottom: 20px;

    img {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__link {
    display: inline-block;
    color: #c60804;
    text-decoration: none;
    margin-top: auto;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.v-modal {
  text-align: center;
  padding: 0 30px 20px;

  &__title {
    font-size: 32px;
    color: #aa050f;
    margin-bottom: 30px;
  }

  &__image {
    margin-bottom: 30px;
    max-width: 40%;
    height: auto;
  }

  &__description {
    text-align: left;
    margin-bottom: 30px;
  }
}

.r-modal {
  padding: 0 50px 20px;
  text-align: center;

  &__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 22px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px;
  }

  &__btn {
    margin-top: 20px;
  }

  .custom-file {
    text-align: left;
  }
}
</style>
